<%= current_user.id %>

<h2 class= "text"> List of all posts</h2>

<div class = "imagenes" >
  <% @posts.each do |post| %>
    <div class = "imagen">
      <p><%= post.user.email %></p> 
      <%= link_to(image_tag(post.image, class: "my-image"), post)%>
      <p><%= post.caption %></p>
      <%= button_to({:controller => "likes", :action => "create", :post_id => post.id}, :method => :post) do  %>
        <span class="glyphicon glyphicon-thumbs-up"></span>
      <% end %>
      <p><%= post.likes.length %></p>
    </div>
  <% end %>
</div>
