<%= current_user.id %>

<h2 class= "text"> List of all posts</h2>

<div class = "imagenes" >
<% @posts.each do |post| %> (here maybe something about how to count the likes in a post)
<div class = "imagen">
  <%= image_tag post.image, class: "my-image" %>
  <p><%= post.caption %></p>
<%= button_to "LIKE", {:controller => "likes", :action => "create", :post_id => post.id}, :method => :post %>
<p><%= post.caption %></p>

  </div>
<% end %>
</div>
